<div id="content">
  
  <p class="claim">
    Compara y descubre los mejores sitios para vivir en bici, en coche, a pie o en transporte público.
  </p>
  
  <form id="combat" class="estirar" action="/" method="get">
    <fieldset id="player1">
      <label>Elige una ciudad</label>
      <input type="text" id="city1" name="city1" />
    </fieldset>
  
    <fieldset id="player2">
      <label>Elige otra ciudad</label>
      <input type="text" id="city2" name="city2" />
    </fieldset>
    
    <p>
      Ejemplos:
      <%= link_to "Madrid versus Ámsterdam", '/madrid-versus-amsterdam' %>, 
      <%= link_to "Barcelona versus Berlín", '/barcelona-versus-berlin' %>
    </p>


    <div class="submit">
      <input type="submit" value="fight!" />
    </div>

  </form>

  <script type="text/javascript">
    $(document).ready(function(){
    	$("#city1").autocomplete(cities);
    	$("#city2").autocomplete(cities);
    });
  </script>
</div>

<div id="sidebar">
  <div class="rankings">
    <h2>Los que más se mueven a pie</h2>
    <ol>
    <% @pedestrian_rank.each do |dataset|  %>
      <li><%= link_to dataset.city.name, city_path(dataset.city) %> <span><%= dataset.pedestrian_share %></span></li>
    <% end %>
    </ol>
  
    <h2>Los que más se mueven en coche</h2>
    <ol>
    <% @car_rank.each do |dataset|  %>
      <li><%= link_to dataset.city.name, city_path(dataset.city) %> <span><%= dataset.motorized_share %></span></li>
    <% end %>
    </ol>

    <h2>Los que más se mueven en bici</h2>
    <ol>
    <% @bike_rank.each do |dataset|  %>
      <li><%= link_to dataset.city.name, city_path(dataset.city) %> <span><%= dataset.bike_share %></span></li>
    <% end %>
    </ol>

    <h2>Los que más se mueven en transporte público</h2>
    <ol>
    <% @bus_rank.each do |dataset|  %>
      <li><%= link_to dataset.city.name, city_path(dataset.city) %> <span><%= dataset.public_transport_share %></span></li>
    <% end %>
    </ol>

  </div>
</div>